<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.org.cesar.armrobotester">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestSelectionActivity"
            android:label="@string/title_activity_test_selection"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArmBluetoothActivity"
            android:label="@string/title_activity_arm_bluetooth"
            android:parentActivityName=".TestSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="TestSelectionActivity" />
        </activity>
        <activity
            android:name=".ConfirmationActivity"
            android:label="@string/title_activity_confirmation"
            android:parentActivityName=".ArmBluetoothActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ArmBluetoothActivity" />
        </activity>
        <activity
            android:name=".TimerActivity"
            android:label="@string/title_activity_timer"
            android:parentActivityName=".ConfirmationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ConfirmationActivity" />
        </activity>
        <activity
            android:name=".RunningTestActivity"
            android:label="@string/title_activity_running_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>