<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.org.cesar.armrobotester">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainNaviActivity"
            android:exported="true"
            android:label="@string/title_activity_main_navi"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SensorActivity"
            android:label="@string/title_activity_sensor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviceConnectionActivity" />


        <!-- SINGLE TEST ACTIVITY -->
        <activity
            android:name=".SingleTestActivity"
            android:label="@string/title_activity_single_test"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WIZARD MODE ACTIVITIES -->
        <activity
            android:name=".WizardActivity"
            android:label="@string/title_activity_wizard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.TestSuiteActivity"
            android:exported="false"
            android:parentActivityName=".WizardActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.TestCaseActivity"
            android:exported="false"
            android:parentActivityName=".ui.TestSuiteActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.ConnectionActivity"
            android:exported="false"
            android:parentActivityName=".ui.TestSuiteActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.ExecutionActivity"
            android:exported="false"
            android:parentActivityName=".ui.ConnectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.ReportActivity"
            android:exported="false"
            android:parentActivityName=".ui.TestSuiteActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".WizardActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>